.upload-container {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 199, 27);
}

.page-title {
    font-size: 34px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.bee-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-around; /* Adjusted spacing */
}

.bee-link {
    text-decoration: none;
    color: inherit;
    flex: 0 0 calc(33.33% - 20px); /* Adjusted width and spacing */
    margin-bottom: 20px;
    position: relative; /* Added position for shadow */
}

.bee-item {
    position: relative;
    overflow: hidden; /* Hide overflow for shadow */
}

.bee-image {
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Added box-shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for box-shadow */
}

.bee-link:hover .bee-image {
    transform: scale(1.05); /* Slight scale on hover */
    
}

.bee-item:hover .bee-name {
    visibility: visible;
    opacity: 1;
}

.bee-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
